@model Web.ViewModels.Order.OrderViewModel

<div>
	<p>Имя: @Model.User.Name</p>
	<p>Адрес: @Model.User.Address</p>
</div>
<hr />

<div>
	@foreach (var product in Model.Products)
	{
		<div>
			<p>Имя: @product.Name</p>
			<p>Цена: @product.Price</p>
		</div>
		<hr />
	}
</div>