@model Web.ViewModels.Order.OrderFullViewModel

<h3>Пользователь который заказал:</h3>
@await Html.PartialAsync("_ClientInfo", Model.Client)
<hr />

<div>
	<h3>Товары в заказе:</h3>
	@foreach (var product in Model.Products)
	{
		@await Html.PartialAsync("_ProductShortInfo", product)
	}
</div>